* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

nav ul {
    display: block;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    list-style: none;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #a19f9f;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: #404140;
}

button {
    float: right;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.texto {
    text-align: center;
    line-height: 1.7;
    font-size: 16px;

    background-color: transparent;
    box-shadow: none;
    border-radius: 0;

    padding: 0;
}


figure {
    margin: 30px auto;
    text-align: center;
}

figure img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

hr {
    margin: 30px auto;
    width: 80%;
    border: 1px solid #444;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .texto {
        font-size: 15px;
        padding: 15px;
    }

    figure img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .texto {
        font-size: 14px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-icons {
    margin: 10px 0;
}
.footer-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}
.footer-icons a.whatsapp {
    color: #1db954; 
}
.footer-icons a.instagram {
    color: #E4405F; 
}
.footer-icons .youtube {
    color: red;
}
.footer-icons .twitch {
    color: rgb(120, 105, 202);
}

button {
    float: right;
}
